{% extends '@EasyAdmin/default/new.html.twig' %}

{% block content_title %}
<h1><i class="fa fa-plus"></i>{{ parent() }}</h1>
{% endblock %}

{% block entity_form %}
<div class="box box-primary">
    <div class="box-body">
        {{ parent() }}
    </div>
</div>
{% endblock entity_form %}

{% block body_javascript %}
    {{ parent() }}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script type="text/javascript">
        $(function(){
            tinymce.init({
                selector:'.tinymce textarea',
                menubar: false,
                plugins: "link",
                toolbar: [
                    'undo redo | bold italic | alignleft aligncenter alignright | bullist numlist outdent indent | link image | styleselect removeformat'
                ]
            });
        });
    </script>
{% endblock %}