<!-- Main Header -->
<header class="main-header">
	<!-- Logo -->
	{% block header_logo %}
		<a href="{{ path('odiseo_admin_index') }}" class="logo">Dashboard</a>
	{% endblock header_logo %}

	<!-- Header Navbar -->
	<nav class="navbar navbar-static-top" role="navigation">
		<!-- Sidebar toggle button-->
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
			<span class="sr-only">Toggle navigation</span>
		</a>
		<!-- Navbar Right Menu -->
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<!-- Messages: style can be found in dropdown.less-->
				{#{ include('@OdiseoAdmin/Layout/Header/messagesMenu.html.twig') }#}

				<!-- Notifications: style can be found in dropdown.less -->
				{#{ include('@OdiseoAdmin/Layout/Header/notificationsMenu.html.twig') }#}

				<!-- Tasks: style can be found in dropdown.less -->
				{#{ include('@OdiseoAdmin/Layout/Header/tasksMenu.html.twig') }#}

				<!-- User Account: style can be found in dropdown.less -->
				{{ include('@OdiseoAdmin/Layout/Header/userAccount.html.twig') }}
			</ul>
		</div>
	</nav>
</header>
